---
import Layout from "../layouts/Layout.astro";
---

<Layout title='404 not found.'>
  <main>
    <div class='flex justify-center'>
      <h1 class='flex flex-col mt-[20vh] items-center'>
        <span class='text-9xl font-bold'>404</span>
        <span class='text-6xl font-medium'>NOT FOUND</span>
      </h1>
    </div>
  </main>
</Layout>

<style>
  body {
    height: 100vh;
  }
</style>
