---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Language from "../components/Language.astro";
import Links from "../components/Links.astro";
---

<Layout title='Welcome to Watakumi Page.'>
  <main>
    <Hero />
    <Language />
    <Links />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
