---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Language from "../components/Language.astro";
import Links from "../components/Links.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title='Welcome to Watakumi Page.'>
  <main>
    <Hero />
    <Language />
    <Links />
    <Projects />
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
