---
---

<div>
  <h1 class='text-5xl font-bold'>
    Welcome to <br />
    <span
      class='p-1 inline-block bg-clip-text text-transparent bg-gradient-to-r from-[#13005A] via-[#1C82AD] to-[#03C988]'
    >
      Watakumi Page
    </span>
  </h1>
  <p class='pt-2'>
    I'm <span class='font-bold text-[#13005A]'>Ruby</span> Developer
    <br />
    <strong>I wanna develop simple, fun apps!</strong>
  </p>
</div>

<style>
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }
</style>
