---
// @ts-ignore
import { TwitterLogo, GitHubLogo } from "@astropub/icons";
---

<div>
  <h1 class='font-semibold text-3xl mt-8'>Links</h1>
  <ul class='w-full flex flex-row gap-4 justify-center items-center mt-4'>
    <li class='flex w-1/2 justify-center'>
      <a
        href='https://github.com/Watakumi'
        class='flex justify-center rounded-full p-4 bg-white shadow-md'
        target='_blank'
        rel='noopener noreferrer'
      >
        <TwitterLogo />
      </a>
    </li>
    <li class='flex w-1/2 justify-center'>
      <a
        href='https://twitter.com/Watadayooo__'
        class='flex justify-center rounded-full p-4 bg-white shadow-md'
        target='_blank'
        rel='noopener noreferrer'
      >
        <GitHubLogo />
      </a>
    </li>
  </ul>
</div>

<style>
  a {
    transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  a:hover {
    background-color: rgb(var(--accent));
  }
  svg {
    width: 48px;
    height: 48px;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  a:hover svg {
    color: white;
  }
</style>
