---
import Project from "./Project.astro";

export type Props = {
  projects: {
    name: string;
    description: string;
    language: string;
    src: string;
  }[];
};

const { projects } = Astro.props;
---

<div class='mt-8'>
  <h1 class='font-semibold text-3xl'>Projects</h1>
  <ul class='mt-4'>
    {
      projects.map((project) => {
        const { name, description, language, src } = project;
        return (
          <Project
            name={name}
            description={description}
            language={language}
            src={src}
          />
        );
      })
    }
  </ul>
</div>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
  }
</style>
