---
import Project from "./Project.astro";
---

<div class='mt-8'>
  <h1 class='font-semibold text-3xl'>Projects</h1>
  <ul class='mt-4'>
    <Project
      title='Sample TS Project'
      description='This Project is created by Watakumi.'
      language='TypeScript'
      source=''
    />

    <Project
      title='Sample Ruby Project'
      description='This Project is created by Watakumi.'
      language='Ruby'
      source=''
    />

    <Project
      title='Sample Astro Project'
      description='This Project is created by Watakumi.'
      language='Astro'
      source=''
    />
  </ul>
</div>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
  }
</style>
