---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content="Watakumi's Profile Page" />
    <title>{title}</title>
    <meta property='og:title' content='Watakumi Page' />
    <meta property='og:description' content='My Profile Page is Here.' />
    <meta property='og:image' content='https://watakumi.page/ogp.png' />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 20, 0, 92;
    --accent-gradient: linear-gradient(
      to right,
      rgb(var(--accent)),
      #03c988 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  body {
    background-size: contain;
    background-image: url("../../public/WatakumiPageBG.png");
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
